@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fbf5f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-night: #161313;
  --color-snow: #fbf5f3;
  --color-fulvous: #e28413;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --climpek: url("/images/climpek.png");
}

body {
  background: var(--background) var(--climpek);
  background-size: 75px 75px;
  background-repeat: repeat;
  color: var(--foreground);
  font-family: Calibri, "Times New Roman", serif;
  overflow-x: hidden;
}

/* Custom Colors */

.text-yourblog {
  color: rgba(22, 185, 197, 0.7);
}

.homepage-card-wrapper {
  display: flex;
  min-height: calc(100dvh - 3.5rem /* 56px */);
  padding-inline: calc(var(--spacing) * 4) /* 1rem = 16px */;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (width >= 40rem /* 640px */) {
    padding-inline: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
  }
}

.homepage-card {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border-width: 2px;
  text-align: center;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: min(100%, 48rem);

  @media (min-width: 640px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
