@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fbf5f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-night: #161313;
  --color-snow: #fbf5f3;
  --color-fulvous: #e28413;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --climpek: url("/images/climpek.png");
}

body {
  background: var(--background) var(--climpek);
  background-size: 75px 75px;
  background-repeat: repeat;
  color: var(--foreground);
  font-family: Calibri, "Times New Roman", serif;
  overflow-x: hidden;
}

/* Custom Colors */

.text-yourblog {
  color: rgba(22, 185, 197, 0.7);
}
